*{
    /* background-color: white; */
    box-sizing: border-box;
    margin: 0;
}

html{
    margin: 1rem;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}

li, p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

/* Classes */

/* Navbar */
.navbar{
    background-color: black;
    overflow: hidden;
    padding: 1rem;
    margin: -1.5rem;
    margin-bottom: 2rem;
}

a{
    color: white;
    background-color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
    margin-left: .5rem;
    display: inline-block;
    text-decoration: none;
}

a:hover{
    color: white;
    background-color: gray;
}

.button{
    color: black;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-width: 15px;
    padding: 10px;
}
.select{
    margin-top: 3rem;
}

.select .child{
    display: inline-block;
    padding: 2rem;
    margin-left: 6rem;
    margin-bottom: 1rem;
    background-color: rgba(98, 133, 98, 0.776);
}

h2{
    padding-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.child img{
    padding-bottom: 10px;
}

.child a{
    margin-top: 1rem;
    margin-left: 7.5rem;
}


